/*
fonorum.com
redesign 2009

lucasdietrich.com

*/


/*-----------------
general */

body {
	color: #111;
	background: #fbfbfb;   
	font: 11px/16px 'Lucida Grande', 'Lucida Sans Unicode', tahoma, arial, sans-serif;
}

a {
	text-decoration: none;
	color: #111;
	border: 0;
	outline: none;
}

a.extern {
	padding-right: 12px;
	background: url(link-extern.gif) 100% 50% no-repeat;
}
a:hover.extern {
	background: url(link-extern-mo.gif) 100% 50% no-repeat;
}

strong {
	background: #4682B4;
	color: #fff;
	font-weight: bold;
	padding: 0 3px;
}


.code {
	font-family: monospace;
	color: #4682B4;
	text-indent: 10px;
	}

em {
	font-style: italic;
}

/*-----------------
layout */

#wrap {
	width: 860px;
	margin: 0 0 0 80px;
	padding: 36px 0 0 0;
	border-top: 6px solid #4682B4;
}

#content {
	clear: left;
	padding-top: 48px;
}

#content p a {
	color: #4682B4;
}

#content p a:hover {
	color: #4682B4;
	border-bottom: 1px solid #4682B4;	
}

#info {
	margin-top: 24px;
	width: 640px;
}

#visual {
	float: left;
	width: 300px;
}

#descr {
	margin: 0 0 0 320px;
}

#status, #distribut
 {
	clear: left;
	width: 480px;
	border-top: 1px solid #999;
	margin-top: 120px;
}

.mail {
	position: relative;
	top: -120px;
}

#distribut {
	border-top: 0;
	float: left;
	width: 300px;
	margin: 24px 0 48px 0;
}



/*-----------------
typo */


h1 {
	font-size: 36px;
	line-height: 36px;
	font-family: 'itc officina serif';
}

h1 span {
	visibility: hidden;
}


/*--------------
Header */

#header h1 {
	float: left;
	width: 240px;
}

#header h2 {
	font-size: 11px;
	line-height: 16px;
}

#header p {
	text-align: right;
	margin-top: -24px;
}

#header p input {
	color: #666;
}


#header h1 a {
	display: block;
	width: 160px;
	height: 36px;
	background: url(fonorum_logo_04.gif) 0 0 no-repeat;
}


/*------------
Content */

#content h3 {
	font-size: 11px;
	height: 16px;
	font-weight: bold;
	border-bottom: 1px solid #999;
	padding: 0 0 2px 10px;
	text-transform: uppercase;
}

#content h4.subheading {
	width: 640px;
	float: left;
	padding-top: 2px;
}

#content h4.subheading a {
	color: #4682B4;
	margin: 0 0 0 10px;
}

#content h4.h4border {
	font-size: 11px;
	height: 16px;
	font-weight: bold;
	border-bottom: 1px solid #999;
	padding: 0 0 2px 10px;
	margin: 30px 0 10px 0;
}

#content h4.subheading a:hover {
	color: #333;
	border-bottom: 1px solid #666;
}

#content h5 {
	text-align: right;
	padding: 2px 10px 0 0;
}   
#content h5.date {
	position: relative;
	top: 15px;
}

#content ul#pages li {
	float: left; 
	margin-right: 5px;
}

#content ol {
	margin: 24px 0 24px 15px;
	padding-left: 40px;
	border-left: 3px solid 	#4682B4;
	list-style-type: decimal;
}

#content ol li {
	margin-bottom: 10px;
	padding-left: 10px;
}

#descr h4 {
	font-weight: bold;  
	margin-bottom: 12px;
}

#descr ul {
	margin: 12px 0 36px 0;
}

#descr p {
	margin-bottom: 12px;
}

#info a {
	color: #4682B4;
}

#info a:hover {
	color: #111;
}

#distribut ul {
	padding: 6px 0 0 0;
}

#distribut ul.oeuvre li {
	padding: 6px 0 4px 10px;
	border-top: 1px solid #999;
}

#distribut ul.oeuvre li a {
	color: #111;
}
#distribut ul.oeuvre li a:hover {
	color: #4682B4;
}

#distribut li a {
	color: #4682B4;
}

#distribut li a:hover {
	color: #333;
}

#status h3, #distribut h3 {
	font-weight: bold;
	padding: 6px 10px 2px 10px;
}

#distribut h3 {
	border-bottom: 1px solid #999;
}

#distribut h3.noborder {
	border: 0;
	padding-bottom: 0;
}

#status h3 {
	border-width: 1px 0 0 0;
}

#status h3 span {
	float: right;
}

#status h3 span a.current {
	color: #999;
	border: none;
}

#status h3.top-border {
	clear: left;
	border-top: 1px solid #999;
	margin-top: 20px;
}

#status h2 {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#status h4, 
#info h4,
#statictext h4 {
	margin: 12px 0 0 0;
}
#status h4 a, 
#info h4 a,
#statictext h4 a {
	font-weight: bold;
}

#status a,
#statictext a {
	color: #4682B4;
}

#status a:hover,
#statictext a:hover {
	color: #111;
	border-bottom: 1px solid #333;
}

#status p, #statictext p {
	margin: 12px 0 0 0;
}

#statictext {
	width: 480px;
}

p.article_nav {
	text-align: right;
	width: 480px;
	margin: 24px 0 0 0;
	padding: 3px 0 0 0;
	border-top: 1px solid #999;
}

span.arrowleft a {
	color: #4682B4;
	padding-left: 15px;
	background: url(arrow_left.gif) top left no-repeat;
}

span.arrowright a {
	color: #4682B4;
	padding-right: 15px;
	background: url(arrow_right.gif) top right no-repeat;
}

span.arrowright a:hover,
span.arrowleft a:hover {
	color: #111;
}

#status p.indent {
	margin: 0 0 10px 10px;
	padding: 0;
}


/*---------------
Catalogue */

.catalogue th, .catalogue td {
	border: 1px solid #999;
	border-width: 0 0 1px 0;
	padding: 4px 10px 2px 0;
}
.catalogue th {
	padding: 4px 10px 2px 10px;
}

th, td {
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}

/* overall 860px */

.catalogue th {
	width: 290px; /* +10+20 padding = 320 */
}

.catalogue th.release {
	width: 130px; /* +10+20 padding = 160 */
	padding: 4px 10px 2px 0;
}

.catalogue th.buy, .catalogue th.listen {
	width: 40px; 
}

.catalogue th.netalbum {
	width: 60px;
}

.catalogue th.timeline {
	width: 640px;
}


.catalogue th.timelinedate {
	padding-left: 0;
}

.catalogue a {
	padding: 0 10px;
}
.catalogue a.extern {
	padding-right: 12px;
}

.catalogue a:hover {
	color: #4682B4;
}

/*--------------
Shop */  

#shop {
	margin-left: 240px;
}

#shopdescr {
	float: left;
	width: 220px; 
	margin: 0 0 48px 0;
}             
                      
#shop p {
	margin: 3px 0 0 0;
}

#shop p.order { 
	background: #efefef;
	border: 1px solid #999;
	border-width: 1px 0; 
	padding: 5px 0;
	margin: 24px 0 12px 0;
}
     
#shop ul.zemError {      
	margin: 0 0 24px 0;
}


p.indent {
	margin: 12px 0 12px 12px;
	width: 320px;
}

/*-----------------
PR */

p.float-left {
	float: left;
	width: 240px;
	padding: 0 0 20px 0;
}

ul.release-info {
	margin-left: 250px;
	margin-top: 10px;
}

ul.release-info li strong {
	background: #fff;
	color: #000;
	font-weight: bold;
}


/*--------------
Footer */

#footer {
	clear: both;
	border-top: 1px solid #999;
	margin-top: 48px;
	padding-bottom: 64px;
}

#footer ul {
	float: left;
}

#footer li {
	float: left;
}

#footer li a {
	display: block;
	padding: 4px 20px 4px 10px;
	font-weight: normal;
}
#footer li a:hover, #footer li.current a {
	color: #fff;
	background: #111;
}     